<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <%= action_cable_meta_tag %>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'answers', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'questions', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vote', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'comment', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%= render "shared/nav" %>
      <main role="main" class="container">
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
